<div class="container partners">
    <h1 class="text-about-block" style="color: black">Спонсоры и партнёры</h1>
    <div class="row">
        <div class="col-10 col-lg-2 col-md-4 block-img-partners">
            <a href="https://olimp.bet" target="_blank">
                <img class="img-partner" src="/img/partner-olimpbet.png">
            </a>
        </div>
        <div class="col-10 col-lg-2 col-md-4 block-img-partners">
            <a href="https://www.pochta.ru/" target="_blank">
                <img class="img-partner" src="/img/pochtaRossii.png">
            </a>
        </div>
        <div class="col-10 col-lg-2 col-md-4 block-img-partners">
            <a href="https://ru.puma.com/" target="_blank">
                <img class="img-partner puma" src="/img/puma.png">
            </a>
        </div>
        <div class="col-10 col-lg-2 col-md-4 block-img-partners">
            <a href="https://yandex.ru/efir" target="_blank">
                <img class="img-partner" src="/img/yandex.png">
            </a>
        </div>
        <div class="col-10 col-lg-2 col-md-4 block-img-partners">
            <a href="https://www.football-mania.ru/" target="_blank">
                <img class="img-partner" src="/img/footballmania.png">
            </a>
        </div>
        <div class="col-10 col-lg-1 col-md-4 block-img-partners">
            <a href="https://rfs.ru/" target="_blank">
                <img class="img-partner" src="/img/rfs.png"></a>
        </div>
        <div class="col-10 col-lg-1 col-md-4 block-img-partners">
            <a href="https://1fnl.ru/" target="_blank">
                <img class="img-partner" src="/img/fnl.png">
            </a>
        </div>                
    </div>
</div>
<footer>
    <div class="container">
        <div class="row ">
            <div class="social-networks">
                <a class="social-link" target="_blank" href="https://vk.com/olimpdp"><img class="social" src="/img/vkontakte.png"></a>
                <a class="social-link" target="_blank" href="https://youtube.com/channel/UCD_o6Tu56OIvM8ttYqWmhyA"><img class="social" src="/img/youtube.png"></a>
                <a class="social-link" target="_blank" href="https://t.me/olimpdp"><img class="social" src="/img/telegram.png"></a>
                
            </div>
            <div class="col-12 col-md-10 mx-auto downloadzip">
                <a href="/img/olimp.zip" download>Скачать логотип ФК Олимп-Долгопрудный
                </a>
            </div>
            <div class="copyright">
                <h6>Футбольный клуб Олимп-Долгопрудный &copy; 2021 
                    <br>При использовании материалов сайта ссылка на ресурс обязательна
                    <br>По всем вопросам обращайтесь на <a href="mailto:press@olimp-dp.ru">press@olimp-dp.ru</a>
                    <br><a href="../img/Pravila_povedenia_zriteley.pdf">Правила поведения зрителей</a>
                </h6>
            </div>
        </div>
    </div>
    <div class="developer">
        <a href="https://voytenko.dev" target="_blank">voytenko.dev</a>
    </div>
</footer>
