<a href="https://1fnl.ru" target="_blank"><div class="fnl-banner"></div></a>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a><img src="../img/logo.png" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/news">Новости</a>
            </li>
            <li class="nav-item">
              <a href="/calendar" class="nav-link active">Календарь</a>
            </li>  
            <li class="nav-item">
              <a href="/players" class="nav-link active">Состав</a>
            </li>  
            <li class="nav-item">
              <a href="/stats" class="nav-link active">Статистика</a>
            </li>
            <li class="nav-item">
              <a href="/personal" class="nav-link active">Персонал</a>
            </li>  
            <li class="nav-item">
              <a href="/media" class="nav-link active">Медиа</a>
            </li>
            <nav class="nav-item">
              <img class="tricolor" src="img/tricolor.jpg">
            </nav>
            <% if(loggedIn) {%>
            <li class="nav-item">
                <a class="nav-link active" href="/panel">Панель</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/auth/logout">Выйти</a>
            </li>
            <li class="nav-item" style="background-color: red; font-weight: bolder;">
              <a class="nav-link active" href="/documentation">ДОКУМЕНТАЦИЯ</a>  
            </li>
            <% } %>
        </ul>
      </div>
    </div>
</nav>