<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1 class="text-about-block" style="color: rgb(0, 0, 0); text-align: center">Календарь матчей</h1>
        <div class="container-fluid best-bg">
            <div class="row matches">
                <h5 class="text-center white pt-2">Тур 1</h5>
                <% for (var i = 0;i < matchposts.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts[i].tournament%></p>
                            <p><%=matchposts[i].score%></p>
                        </div>
                    </div>
                <% } %>   
                <h5 class="text-center white pt-2">Тур 2</h5>
                <% for (var i = 0;i < matchposts2.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts2[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts2[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts2[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts2[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts2[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts2[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts2[i].tournament%></p>
                            <p><%=matchposts2[i].score%></p>
                        </div>
                    </div>
                <% } %> 
                <h5 class="text-center white pt-3">Тур 3</h5>
                <% for (var i = 0;i < matchposts3.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts3[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts3[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts3[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts3[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts3[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts3[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts3[i].tournament%></p>
                            <p><%=matchposts3[i].score%></p>
                        </div>
                    </div>
                <% } %>       
                <h5 class="text-center white pt-3">Тур 4</h5>
                <% for (var i = 0;i < matchposts4.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts4[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts4[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts4[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts4[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts4[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts4[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts4[i].tournament%></p>
                            <p><%=matchposts4[i].score%></p>
                        </div>
                    </div>
                <% } %> 
                <h5 class="text-center white pt-3">Тур 5</h5>
                <% for (var i = 0;i < matchposts5.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts5[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts5[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts5[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts5[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts5[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts5[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts5[i].tournament%></p>
                            <p><%=matchposts5[i].score%></p>
                        </div>
                    </div>
                <% } %>    
                <h5 class="text-center white pt-3">Тур 6</h5>     
                <% for (var i = 0;i < matchposts6.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts6[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts6[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts6[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts6[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts6[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts6[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts6[i].tournament%></p>
                            <p><%=matchposts6[i].score%></p>
                        </div>
                    </div>
                <% } %>    
                <h5 class="text-center white pt-3">Тур 7</h5>     
                <% for (var i = 0;i < matchposts7.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts7[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts7[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts7[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts7[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts7[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts7[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts7[i].tournament%></p>
                            <p><%=matchposts7[i].score%></p>
                        </div>
                    </div>
                <% } %>    
                <h5 class="text-center white pt-3">Тур 8</h5>     
                <% for (var i = 0;i < matchposts8.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts8[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts8[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts8[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts8[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts8[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts8[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts8[i].tournament%></p>
                            <p><%=matchposts8[i].score%></p>
                        </div>
                    </div>
                <% } %>  
                <h5 class="text-center white pt-3">Тур 9</h5>     
                <% for (var i = 0;i < matchposts9.length;i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts9[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts9[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts9[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts9[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts9[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts9[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts9[i].tournament%></p>
                            <p><%=matchposts9[i].score%></p>
                        </div>
                    </div>
                <% } %>      
                <h5 class="text-center white pt-3">Тур 10</h5>     
                <% for (var i = 0;i < matchposts10.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts10[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts10[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts10[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts10[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts10[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts10[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts10[i].tournament%></p>
                            <p><%=matchposts10[i].score%></p>
                        </div>
                    </div>
                <% } %> 
                <h5 class="text-center white pt-3">Тур 11</h5>     
                <% for (var i = 0;i < matchposts11.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts11[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts11[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts11[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts11[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts11[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts11[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts11[i].tournament%></p>
                            <p><%=matchposts11[i].score%></p>
                        </div>
                    </div>
                <% } %> 
                <h5 class="text-center white pt-3">Тур 12</h5>     
                <% for (var i = 0;i < matchposts12.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts12[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts12[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts12[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts12[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts12[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts12[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts12[i].tournament%></p>
                            <p><%=matchposts12[i].score%></p>
                        </div>
                    </div>
                <% } %> 
                <h5 class="text-center white pt-3">Тур 13</h5>     
                <% for (var i = 0;i < matchposts13.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                        <div class="fst-part">
                            <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                <%=matchposts13[i].date %>
                            </h5>
                            <h5 class="match-time text">
                                <img class="icon" src="../img/clock.png"/>
                                <%=matchposts13[i].time %>
                            </h5>
                        </div>
                        <div class="tst-part">
                            <p class="team"><%=matchposts13[i].team_1%></p>
                            <p class="vs">vs</p>
                            <p class="team team2"><%=matchposts13[i].team_2%></p>
                        </div>
                        <div class="last-part">
                            <p class="location"><img class="icon" src="../img/pin.png"/>
                                <%=matchposts13[i].city%></p>
                            <p class="location"><img class="icon" src="../img/stadium.png"/>
                                <%=matchposts13[i].stadium%></p>
                        </div>
                        <div class="last-part">
                            <p><%=matchposts13[i].tournament%></p>
                            <p><%=matchposts13[i].score%></p>
                        </div>
                    </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 14</h5>
                <% for (var i = 0;i < matchposts14.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts14[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts14[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts14[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts14[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts14[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts14[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts14[i].tournament%></p>
                        <p><%=matchposts14[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 15</h5>
                <% for (var i = 0;i < matchposts15.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts15[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts15[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts15[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts15[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts15[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts15[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts15[i].tournament%></p>
                        <p><%=matchposts15[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 16</h5>
                <% for (var i = 0;i < matchposts16.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts16[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts16[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts16[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts16[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts16[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts16[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts16[i].tournament%></p>
                        <p><%=matchposts16[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 17</h5>
                <% for (var i = 0;i < matchposts17.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts17[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts17[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts17[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts17[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts17[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts17[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts17[i].tournament%></p>
                        <p><%=matchposts17[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 18</h5>
                <% for (var i = 0;i < matchposts18.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts18[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts18[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts18[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts18[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts18[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts18[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts18[i].tournament%></p>
                        <p><%=matchposts18[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 19</h5>
                <% for (var i = 0;i < matchposts19.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts19[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts19[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts19[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts19[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts19[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts19[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts19[i].tournament%></p>
                        <p><%=matchposts19[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 20</h5>
                <% for (var i = 0;i < matchposts20.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts20[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts20[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts20[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts20[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts20[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts20[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts20[i].tournament%></p>
                        <p><%=matchposts20[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 21</h5>
                <% for (var i = 0;i < matchposts21.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts21[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts21[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts21[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts21[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts21[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts21[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts21[i].tournament%></p>
                        <p><%=matchposts21[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 22</h5>
                <% for (var i = 0;i < matchposts22.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts22[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts22[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts22[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts22[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts22[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts22[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts22[i].tournament%></p>
                        <p><%=matchposts22[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 23</h5>
                <% for (var i = 0;i < matchposts23.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts23[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts23[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts23[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts23[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts23[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts23[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts23[i].tournament%></p>
                        <p><%=matchposts23[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 24</h5>
                <% for (var i = 0;i < matchposts24.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts24[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts24[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts24[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts24[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts24[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts24[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts24[i].tournament%></p>
                        <p><%=matchposts24[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 25</h5>
                <% for (var i = 0;i < matchposts25.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts25[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts25[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts25[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts25[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts25[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts25[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts25[i].tournament%></p>
                        <p><%=matchposts25[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 26</h5>
                <% for (var i = 0;i < matchposts26.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts26[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts26[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts26[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts26[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts26[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts26[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts26[i].tournament%></p>
                        <p><%=matchposts26[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 27</h5>
                <% for (var i = 0;i < matchposts27.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts27[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts27[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts27[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts27[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts27[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts27[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts27[i].tournament%></p>
                        <p><%=matchposts27[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 28</h5>
                <% for (var i = 0;i < matchposts28.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts28[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts28[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts28[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts28[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts28[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts28[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts28[i].tournament%></p>
                        <p><%=matchposts28[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 29</h5>
                <% for (var i = 0;i < matchposts29.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts29[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts29[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts29[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts29[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts29[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts29[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts29[i].tournament%></p>
                        <p><%=matchposts29[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 30</h5>
                <% for (var i = 0;i < matchposts30.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts30[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts30[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts30[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts30[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts30[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts30[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts30[i].tournament%></p>
                        <p><%=matchposts30[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 31</h5>
                <% for (var i = 0;i < matchposts31.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts31[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts31[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts31[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts31[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts31[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts31[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts31[i].tournament%></p>
                        <p><%=matchposts31[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 32</h5>
                <% for (var i = 0;i < matchposts32.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts32[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts32[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts32[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts32[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts32[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts32[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts32[i].tournament%></p>
                        <p><%=matchposts32[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 33</h5>
                <% for (var i = 0;i < matchposts33.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts33[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts33[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts33[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts33[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts33[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts33[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts33[i].tournament%></p>
                        <p><%=matchposts33[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 34</h5>
                <% for (var i = 0;i < matchposts34.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts34[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts34[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts34[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts34[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts34[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts34[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts34[i].tournament%></p>
                        <p><%=matchposts34[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 35</h5>
                <% for (var i = 0;i < matchposts35.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts35[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts35[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts35[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts35[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts35[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts35[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts35[i].tournament%></p>
                        <p><%=matchposts35[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 36</h5>
                <% for (var i = 0;i < matchposts36.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts36[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts36[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts36[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts36[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts36[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts36[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts36[i].tournament%></p>
                        <p><%=matchposts36[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 37</h5>
                <% for (var i = 0;i < matchposts37.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts37[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts37[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts37[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts37[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts37[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts37[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts37[i].tournament%></p>
                        <p><%=matchposts37[i].score%></p>
                    </div>
                </div>
                <% } %>
                <h5 class="text-center white pt-3">Тур 38</h5>
                <% for (var i = 0;i < matchposts38.length; i++) { %>
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchposts38[i].date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchposts38[i].time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchposts38[i].team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchposts38[i].team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchposts38[i].city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchposts38[i].stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchposts38[i].tournament%></p>
                        <p><%=matchposts38[i].score%></p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        </div>
        <hr>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html