<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1>Создание нового поста</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="/posts/store" method="POST" enctype="multipart/form-data">
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Название поста</label>
                                <input type="text" class="form-control" placeholder="Название поста"
                                id="title" name="title">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Ключевые слова</label>
                                <input type="text" class="form-control" placeholder="Матч, Олимп, Победа"
                                id="keywords" name="keywords">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Текст поста</label>
                                <textarea rows="5" class="form-control" placeholder="Текст поста"
                                id="body" name="body"></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Изображение</label>
                                <input type="file" class="form-control"
                                id="image" name="image">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                id="sendMessageButton">Добавить пост</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html