<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>

        <div class="container-fluid post white best-bg">
            <h1 class="text-about-block" style="color: rgb(0, 0, 0); text-align: center">Обновления</h1>
            <div class="row">
                <div class="col-10 col-lg-8 col-md-10 mx-auto">
                    <h5 style="font-weight: bolder;">1.24.08</h5>
                    <p>Кнопки редактирования матчей и статистики добавлены в Панель</p>
                    <h5 style="font-weight: bolder;">1.23.08 (КРУПНОЕ)</h5>
                    <p>Включены бэкапы всех медиафайлов.</p>
                    <p>Исправлен баг с дубликацией медиа альбомов</p>
                    <p>Новости создавать и редактировать можно не добавляя Изображение.
                        Теперь по стандарту если изображение отстуствует - будет логотип ФК "Олимп-Долгопрудный".
                    </p>
                    <p>Исправлены расширения фотографией на главной странице (Можно загружать фото 
                        большие в ширину)
                    </p>
                    <p>Исправлены размеры фотографий в постах на маленьких разерешниях</p>
                    <p>Переписана проверка показания прошедшего матча (теперь он будет меняться на 
                        следующий день после матча)
                    </p>
                    <p>Добавлена статистика игроков, а так же её редактирование. Кнопка редактирования находится под таблицей 
                        (Нужно находится в системе под своим аккаунтом)
                    </p>
                    <p>При создании матчи команды теперь выбираются из списка (сделано для соблюдения точности)</p>
                    <p>Изменён дизайн страницы Новости</p>
                    <p>Убран задний прозрачный цвет в новостях на главной и странице Ноости</p>
                    <h5 style="font-weight: bolder;">Версия 1.10.08</h5>
                    <p>Добавлена возможность редактировать и удалять игроко. Для этого надо зайти в свой аккаунт</p>
                    Перейти на страницу "Состав" и внизу каждго игрока добавлена кнопка "Редактировать".
                    Далее Вас переводит на страницу игрока где есть варианты Удалить или Отредактировать информацию
                    об игроке.
                    
                    <h5 style="font-weight: bolder;">Версия 1.09.08</h5>
                    <p>Добавлены ключевые слова в посты.</p>
                    <h5 style="font-weight: bolder;">Версия: Beta 1.06.08</h5>
                    <p>Исправлен баг с временем при создании поста</p>
                    <p>Изменена визуализация постов на главной странице</p>
                    <h5 style="font-weight: bolder;">Версия: Beta 1.05.08</h5>
                    <p>Теперь можно редактировать матчи. Для этого надо зайти в свой аккаунт, вас переведёт на страницу "Панель"
                        и внизу каждого матча есть кнопка "Матч". При нажатии на неё вас перенесет на страницу матча где можно его редактировать.
                    </p>
                    <p>Исправлена сортировка игроков. Теперь работает по номеру игрока.</p>
                    <p>Изменены детали в странице Медиа.</p>
                </div>
            </div>
            <h1 class="text-about-block" style="color: rgb(0, 0, 0); text-align: center">Документация</h1>
            <div class="row">
                <div class="col-10 col-lg-8 col-md-10 mx-auto">
                    
                    <h3 style="font-weight: bolder;">1. Новости. Создание, редактирование и удаление</h3>
                    <p>1.1 Для создания новости надо зайти в свой личный аккаунт. На странице панели есть кнопка создать пост.
                        Далее идёт форма новостей: Название новости, Описание новости и фото (функционал будет дополняться).
                    <p>
                    <p>
                        1.2 Чтобы отредактировать новость надо перейти в саму новость. Если вы находитесь в системе, Вам будет показана кнопка 
                        "Редактировать". После нажатия Вас перенесёт на страницу с формой редактирования новости.
                    </p>
                    <p>
                        1.3 Чтобы удалить новость надо перейти в саму новость. Если вы находитесь в системе, Вам будет показана кнопка
                        "Удалить". После нажатия новость удалится <strong>БЕЗВОЗВРАТНО</strong>
                    </p>
                    <h3 style="font-weight: bolder;">2. Матчи. Создание, удаление и редактирование.</h3>
                    <p>2.1 Для создания матча надо зайти в свой личный аккаунт. На странице панели есть кнопка создать матч
                        Далее идёт форма матча: Дата матча, время, Команда(Хозяин), Команда(Гость), город, стадион, турнир и счёт.
                        (функционал будет дополняться)
                        2.2 Чтобы редактировать матч надо зайти в панель. у каждого матча есть кнопка внизу "Матч", 
                        при нажатии на неё вас перенесет на страницу матча где можно его редактировать.
                        2.3 Удаление матча (в разработке)
                    </p>
                    <h3 style="font-weight: bolder;">3. Статистика.</h3>
                    <p>3.1 В странице статистике игроков можно редактировать всё на одной странице. 
                        Достаточно быть в своём аккаунте и под таблицей будет кнопка редактирования.
                        Напротив статистики каждого игрока есть своя кнопка изменить. Изменять можно 
                        только по игроку за раз. Кнопка изменить привязана к конкретному игроку.
                        <strong>ЕСЛИ ОТРЕДАКТИРОВАТЬ СРАЗУ НЕСКОЛЬКО НЕ НАЖИМАЯ ПРИМЕНИТЬ, ТО ПОСЛЕ 
                            НАЖАТИЯ ОБНОВИТСЯ СТАТИСТИКА ТОЛЬКО ТОГО ИГРОКА, НАПРОТИВ КОТОРОГО 
                            ВЫ НАЖАЛИ КНОПКУ ИЗМЕНИТЬ.
                        </strong>
                    </p>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html