<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body class="best-bg">
        <%- include('layouts/navbar'); -%>
        <h1 class="text-center white pt-5">Редактирование матчей</h1>
        <div class="container">
            <table width="1500px" class="stats best-bg editstat">
                <tr>
                    <th class="text-center">Тур</th>
                    <th class="text-center">Лига</th>
                    <th class="text-center">Город</th>
                    <th class="text-center">Стадион</th>
                    <th class="text-center">Хозяева</th>
                    <th class="text-center">Гости</th>
                    <th class="text-center">Дата</th>
                    <th class="text-center">Время</th>
                    <th class="text-center">Счёт</th>
                    <th class="text-center">Изменить</th>
                </tr>
                <% for(var i = 10; i < matches.length; i++) {%>
                    <form id="<%=matches[i]._id%>" action="/matches/update/<%=matches[i]._id%>" method="POST">
                <tr>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="tour" name="tour"><%=matches[i].tour%></textarea>
                    </td>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="tournament" name="tournament"><%=matches[i].tournament%></textarea>
                    </td>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="city" name="city"><%=matches[i].city%></textarea>
                    </td>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="stadium" name="stadium"><%=matches[i].stadium%></textarea>
                    </td>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="team_1" name="team_1"><%=matches[i].team_1%></textarea>
                    </td>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="team_2" name="team_2"><%=matches[i].team_2%></textarea>
                    </td>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="date" name="date"><%=matches[i].date%></textarea>
                    </td>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="time" name="time"><%=matches[i].time%></textarea>
                    </td>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="score" name="score"><%=matches[i].score%></textarea>
                    </td>
                    <td class="text-center">
                        <button type="submit" class="btn btn-primary"
                    id="sendMessageButton<%=matches[i].number%>">Именить
                    </button>
                    </td>
                </tr>
                
                </form>
                <% if( i % 9 == 0) {%>
                    <tr>
                        <th class="text-center">Тур</th>
                        <th class="text-center">Лига</th>
                        <th class="text-center">Город</th>
                        <th class="text-center">Стадион</th>
                        <th class="text-center">Хозяева</th>
                        <th class="text-center">Гости</th>
                        <th class="text-center">Дата</th>
                        <th class="text-center">Время</th>
                        <th class="text-center">Счёт</th>
                        <th class="text-center">Изменить</th>
                    </tr>
                <% } %>
                <% } %>
                <br>
            </table>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>