<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body class="best-bg">
        <%- include('layouts/navbar'); -%>
        <h1 class="text-center white pt-5">Статистика текущего сезона ФК «Олимп-Долгопрудный»</h1>
        <div class="container">
            <table width="1500px" class="stats best-bg editstat">
                <tr>
                    <th  class="text-center">Имя</th>
                    <th class="text-center">К-во игр</th>
                    <th class="text-center">Время на поле</th>
                    <th class="text-center">Был заменён</th>
                    <th class="text-center">Вышел на замену</th>
                    <th class="text-center">Голевая передача</th>
                    <th class="text-center">Голы</th>
                    <th class="yellowcard text-center">П</th>
                    <th class="redcard text-center">К</th>
                    <th class="text-center">Изменить</th>
                </tr>
                <% for(var i = 0; i < players.length; i++) {%>
                    <form id="<%=players[i]._id%>" action="/stats/update/<%=players[i]._id%>" method="POST">
                <tr>
                    <td class="text-center">
                        <%=players[i].name%>
                    </td>
                    <td class="text-center" width="100">
                        <textarea class="textarealowrange" id="games" name="games"><%=players[i].games%></textarea>
                    </td>
                    <td class="text-center">
                        <textarea class="textarealowrange" id="time" name="time"><%=players[i].time%></textarea>
                    </td>
                    <td class="text-center">
                        <textarea class="textarealowrange" id="wasreplaced" name="wasreplaced"><%=players[i].wasreplaced%></textarea>
                    </td>
                    <td class="text-center">
                        <textarea class="textarealowrange" id="replaced" name="replaced"><%=players[i].replaced%></textarea>
                    </td>
                    <td class="text-center">
                        <textarea class="textarealowrange" id="goalassist" name="goalassist"><%=players[i].goalassist%></textarea>
                    </td>
                    <td class="text-center">
                        <textarea class="textarealowrange" id="goals" name="goals"><%=players[i].goals%></textarea>
                    </td>
                    <td class="text-center">
                        <textarea class="textarealowrange" id="yellowcard" name="yellowcard"><%=players[i].yellowcard%></textarea>
                    </td>
                    <td class="text-center">
                        <textarea class="textarealowrange" id="redcard" name="redcard"><%=players[i].redcard%></textarea>
                    </td>
                    <td class="text-center">
                        <button type="submit" class="btn btn-primary"
                    id="sendMessageButton<%=players[i].number%>">Именить
                    </button>
                    </td>
                </tr>
                </form>
                <% if(i % 7 == 0) { %>
                    <tr>
                        <th  class="text-center">Имя</th>
                        <th class="text-center">К-во игр</th>
                        <th class="text-center">Время на поле</th>
                        <th class="text-center">Был заменён</th>
                        <th class="text-center">Вышел на замену</th>
                        <th class="text-center">Голевая передача</th>
                        <th class="text-center">Голы</th>
                        <th class="yellowcard text-center">П</th>
                        <th class="redcard text-center">К</th>
                        <th class="text-center">Изменить</th>
                    </tr>
                 <% } %>
                <% } %>
                <br>
            </table>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>