<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <!--home-0-->
        <div class="container-fluid home-0">
            <div class="row">
                <div class="col-8 col-lg-8">
                    <h2 class="text-home-0-1">
                        Футбольный клуб
                    </h2>
                    <h1 class="text-home-0-2">
                        Олимп-Долгопрудный
                    </h1>
                    
                </div>
            </div>
        </div>
        <!--MATCHES-->
        <div class="container-fluid">
            <div class="row matches">
                <% for (var j = matchposts.length - 1;j >= 0; j--){ %>
                    <% if (matchposts[j].team_1 == 'Олимп-Долгопрудный' || matchposts[j].team_2 == 'Олимп-Долгопрудный') { %>
                        <% if(currentdate >= matchposts[j].date) { %>
                            <div class="post-preview matches-block col-10 col-lg-6 col-md-8 col-xl-3 prev-matches">
                                <div class="fst-part">
                                    <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                        <%=matchposts[j].date %>
                                    </h5>
                                    <h5 class="match-time text">
                                        <img class="icon" src="../img/clock.png"/>
                                        <%=matchposts[j].time %>
                                    </h5>
                                </div>
                                <div class="tst-part">
                                    <p class="team"><%=matchposts[j].team_1%></p>
                                    <p class="vs">vs</p>
                                    <p class="team team2"><%=matchposts[j].team_2%></p>
                                </div>
                                <div class="last-part">
                                    <p class="location"><img class="icon" src="../img/pin.png"/>
                                        <%=matchposts[j].city%></p>
                                    <p class="location"><img class="icon" src="../img/stadium.png"/>
                                        <%=matchposts[j].stadium%></p>
                                </div>
                                <div class="last-part">
                                    <p><%=matchposts[j].tournament%></p>
                                    <p><%=matchposts[j].score%></p>
                                    <p><%=matchposts[j].tour%> тур</p>
                                </div>
                            </div>
                            <% break %>
                        <% } %>
                    <% } %>
                <% } %>
                <% for (var i = 0;i < 388; i++) { %>
                    <% if (matchposts[i].team_1 == 'Олимп-Долгопрудный' || matchposts[i].team_2 == 'Олимп-Долгопрудный') { %>
                        <% if (currentdate < matchposts[i].date) { %>
                            <div class="post-preview matches-block col-10 col-lg-6 col-md-8 col-xl-3 next-matches">
                                <div class="fst-part ">
                                    <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                                        <%=matchposts[i].date %>
                                    </h5>
                                    <h5 class="match-time text">
                                        <img class="icon" src="../img/clock.png"/>
                                        <%=matchposts[i].time %>
                                    </h5>
                                </div>
                                <div class="tst-part">
                                    <p class="team"><%=matchposts[i].team_1%></p>
                                    <p class="vs">vs</p>
                                    <p class="team team2"><%=matchposts[i].team_2%></p>
                                </div>
                                <div class="last-part">
                                    <p class="location"><img class="icon" src="../img/pin.png"/>
                                        <%=matchposts[i].city%></p>
                                    <p class="location"><img class="icon" src="../img/stadium.png"/>
                                        <%=matchposts[i].stadium%></p>
                                </div>
                                <div class="last-part">
                                    <p><%=matchposts[i].tournament%></p>
                                    <p><%=matchposts[i].score%></p>
                                    <p><%=matchposts[i].tour%> тур</p>
                                </div>
                            </div>
                        <% } %>
                    <% } %>
                <% } %>
            </div>
        </div>
        <!--NEWS-->
        <br>
        <div class="container-fluid news-table">
            <h1 class="text-about-block white" >Новости</h1> 
            <div class="row news-tables">
                <div class="col-12 col-xl-6 col-lg-10 col-md-12 first-test">
                <div class="row news-block">
                    <% for(var i = blogposts.length - 1; i >= blogposts.length - 6; i--) { %>
                        <div class="col-11 col-xl-6 col-lg-2 col-md-10 col-l-8 mx-auto news">
                            <a href="/post/<%=blogposts[i]._id%>" class="inlink">
                            <div class="post-preview">
                                <h5 class="post-title">
                                    <%=blogposts[i].title %>
                                </h5>
                                <div class="img-index-block">
                                    <img class="img-in-index" src="<%=blogposts[i].image%>">
                                </div>
                            </div>
                            <p class="post-meta">
                                <%= moment.unix(blogposts[i].datePosted / 1000).format('LL') %>
                            </p>
                            </a>
                        </div>
                    <% } %>
                    <a href="/news" class="bold-a">Все новости</a>
                </div>
                </div>
                <div class="col-12 col-xl-4 col-lg-10 col-md-12 mx-auto tournament-table">
                    <h4 class="text-center white">Турнирная таблица</h4>
                    <iframe class="frame-table" frameborder="0" scrolling="auto" src="https://1fnl.ru/inf_ttable/?team=TEAM_ID" width="600px"></iframe>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
