<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1>Вход</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="/users/login" method="POST" enctype="multipart/form-data">
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Логин</label>
                                <input type="text" class="form-control" placeholder="ivanov"
                                id="username" name="username">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Пароль</label>
                                <input type="password" class="form-control" placeholder="*********"
                                id="password" name="password">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                id="sendMessageButton">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html