<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1>Редактирование матча</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="/match/updatestore/<%=match_id%>" method="POST">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Дата</label>
                                <textarea type="text" class="form-control"
                                    id="date" name="date"><%=match.date%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Турнир</label>
                                <textarea type="text" class="form-control" 
                                    id="tournament" name="tournament"><%=match.tournament%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Тур</label>
                                <textarea type="text" class="form-control" 
                                    id="tour" name="tour"><%=match.tour%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Город</label>
                                <textarea type="text" class="form-control" 
                                    id="city" name="city"> <%=match.city%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Стадион</label>
                                <textarea type="text" class="form-control" 
                                    id="stadium" name="stadium"><%=match.stadium%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Команда 1</label>
                                <textarea type="text" class="form-control" 
                                    id="team_1" name="team_1"><%=match.team_1%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Команда 2</label>
                                <textarea type="text" class="form-control" 
                                    id="team_2" name="team_2"><%=match.team_2%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Время по МСК</label>
                                <textarea type="datetime" class="form-control" 
                                    id="time" name="time"><%=match.time%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Счет</label>
                                <textarea type="text" class="form-control" 
                                    id="score" name="score"><%=match.score%></textarea>
                            </div>
                        </div>

                    <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                id="sendMessageButton">Именить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html