<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>

        <div class="container-fluid post white best-bg">
            <% if(loggedIn) {%>
            <a href="/match/edit/<%=match_id%>">Редактировать</a><br>
            <% } %>
            <div class="row">
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3">
                    <div class="fst-part">
                        <h5 class="match-date text"><img class="icon" src="../img/calendar.png"/>
                            <%=matchpost.date %>
                        </h5>
                        <h5 class="match-time text">
                            <img class="icon" src="../img/clock.png"/>
                            <%=matchpost.time %>
                        </h5>
                    </div>
                    <div class="tst-part">
                        <p class="team"><%=matchpost.team_1%></p>
                        <p class="vs">vs</p>
                        <p class="team team2"><%=matchpost.team_2%></p>
                    </div>
                    <div class="last-part">
                        <p class="location"><img class="icon" src="../img/pin.png"/>
                            <%=matchpost.city%></p>
                        <p class="location"><img class="icon" src="../img/stadium.png"/>
                            <%=matchpost.stadium%></p>
                    </div>
                    <div class="last-part">
                        <p><%=matchpost.tournament%></p>
                        <p><%=matchpost.score%></p>
                    </div>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html