<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1 class="text-center">Медиа</h1>
        <hr>
        <div class="container-fluid best-bg pt-1">
            <div class="row matches">
                <% for (var i = 0;i < media.length; i++) { %>
                    <div class="post-preview media-block col-10 col-xl-3 col-md-5 col-xl-3">
                        <h3 class="text-center"><%=media[i].name%></h3>
                        <a href="/album/<%=media[i]._id%>">
                            <img class="img-in-media" src="<%=media[i].images[0]%>">
                        </a>
                    </div>
                <% } %>   
            </div>
        </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html