<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1 class="text-center">Новый альбом</h1>
        <hr>
        <!--Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mx-auto matches-block">
                    <form action="/media/store" method="POST" enctype="multipart/form-data">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Номер альбома</label>
                                <input type="text" class="form-control" placeholder=""
                                    id="number" name="number">
                            </div>
                            <div class="form-group floating-label-form-group controls">
                                <label>Название альбома</label>
                                <input type="text" class="form-control" placeholder=""
                                    id="name" name="name">
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label>Фотографии</label>
                                    <input type="file" class="form-control" multiple
                                    id="images" name="images">
                                </div>
                            </div>
                        </div>
                    <br>
                    <div id="static form-group">
                        <button class="btn btn-primary"
                        id="sendMessageButton"
                        v-on:click="isHidden = true"
                        v-if="!isHidden">Добавить</button>




                    </div>
                    </form>
                    
                    
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>
<script>
    var app = new Vue({
    el: '#static',
    data: {
      isHidden: false,
    },
})
</script>