<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1 class="text-center">Новый матч</h1>
        <hr>
        <!--Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mx-auto matches-block">
                    <form action="/matches/store" method="POST">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Дата</label>
                                <input type="text" class="form-control" placeholder="2021.03.22"
                                    id="date" name="date">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Турнир</label>
                                <select class="form-control" 
                                    id="tournament" name="tournament">
                                <option>Олимп - Первенство ФНЛ</option>
                            </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Тур</label>
                                <input type="text" class="form-control" 
                                    id="tour" name="tour"></input>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Город</label>
                                <input type="text" class="form-control" 
                                    id="city" name="city"></input>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Стадион</label>
                                <input type="text" class="form-control" 
                                    id="stadium" name="stadium"></input>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Команда 1</label>
                                <select class="form-control" 
                                    id="team_1" name="team_1">
                                    <option>Олимп-Долгопрудный</option>
                                    <option>Торпедо Москва</option>
                                    <option>Факел</option>
                                    <option>Оренбург</option>
                                    <option>СКА-Хабаровск</option>
                                    <option>Велес</option>
                                    <option>Спартак-2</option>
                                    <option>Нефтехимик</option>
                                    <option>Алания Владикавказ</option>
                                    <option>КАМАЗ</option>
                                    <option>Краснодар-2</option>
                                    <option>Томь</option>
                                    <option>Балтика</option>
                                    <option>Ротор</option>
                                    <option>Енисей</option>
                                    <option>Акрон</option>
                                    <option>Кубань</option>
                                    <option>Волгарь</option>
                                    <option>Металлург</option>
                                    <option>Текстильщик</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Команда 2</label>
                                <select class="form-control" 
                                    id="team_2" name="team_2">
                                    <option>Олимп-Долгопрудный</option>
                                    <option>Торпедо Москва</option>
                                    <option>Факел</option>
                                    <option>Оренбург</option>
                                    <option>СКА-Хабаровск</option>
                                    <option>Велес</option>
                                    <option>Спартак-2</option>
                                    <option>Нефтехимик</option>
                                    <option>Алания Владикавказ</option>
                                    <option>КАМАЗ</option>
                                    <option>Краснодар-2</option>
                                    <option>Томь</option>
                                    <option>Балтика</option>
                                    <option>Ротор</option>
                                    <option>Енисей</option>
                                    <option>Акрон</option>
                                    <option>Кубань</option>
                                    <option>Волгарь</option>
                                    <option>Металлург</option>
                                    <option>Текстильщик</option>
                                </select>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Время по МСК</label>
                                <input type="datetime" class="form-control" 
                                    id="time" name="time"></input>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Счет</label>
                                <input type="text" class="form-control" 
                                    id="score" name="score"></input>
                            </div>
                        </div>

                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"
                            id="sendMessageButton">Добавить матч</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html