<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1 class="text-center">Новый игрок</h1>
        <hr>
        <!--Main Content-->
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 mx-auto matches-block">
                    <form action="/player/store" method="POST" enctype="multipart/form-data">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>ФИО</label>
                                <input type="text" class="form-control" placeholder="ФИО"
                                    id="name" name="name">
                            </div>
                            <div class="form-group floating-label-form-group controls">
                                <label>Номер</label>
                                <input type="text" class="form-control"
                                    id="number" name="number">
                            </div>
                            <div class="form-group floating-label-form-group controls">
                                <label>Роль</label>
                                <input type="text" class="form-control"
                                    id="role" name="role">
                            </div>
                            <div class="form-group floating-label-form-group controls">
                                <label>Дата рождения</label> 
                                <input type="text" class="form-control" placeholder="05.09.1994 (26 лет)"
                                    id="date" name="date">
                            </div>
                            <div class="form-group floating-label-form-group controls">
                                <label>Гражданство</label>
                                <input type="text" class="form-control"
                                    id="citizenship" name="citizenship">
                            </div>
                            <div class="form-group floating-label-form-group controls">
                                <label>Рост</label>
                                <input type="text" class="form-control"
                                    id="height" name="height">
                            </div>
                            <div class="form-group floating-label-form-group controls">
                                <label>Вес</label>
                                <input type="text" class="form-control"
                                    id="weight" name="weight">
                            </div>
                            <div class="control-group">
                                <div class="form-group floating-label-form-group controls">
                                    <label>Фото</label>
                                    <input type="file" class="form-control"
                                    id="image" name="image">
                                </div>
                            </div>
                        </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"
                            id="sendMessageButton">Добавить игрока</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html