<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <!--home-0-->
        <!--NEWS-->
        <br>
        <div class="container-fluid news-table">
            <h1 class="text-about-block">Новости</h1> 
            <div class="row news-tables">
                <div class="col-12 col-xl-9 col-lg-10 col-md-12 first-test">
                    <div class="row news-block wrapper-boxes">
                        <% for(var i = blogposts.length - 1; i > 0; i--) { %>
                            <div class="col-11 col-xl-4 col-lg-2 col-md-10 col-l-8 mx-auto news hidden">
                                <a href="/post/<%=blogposts[i]._id%>" class="inlink">
                                <div class="post-preview">
                                    <h5 class="post-title">
                                        <%=blogposts[i].title %>
                                    </h5>
                                    <div class="img-index-block">
                                        <img class="img-in-index" src="<%=blogposts[i].image%>">
                                    </div>
                                </div>
                                <p class="post-meta">
                                    <%= moment.unix(blogposts[i].datePosted / 1000).format('LL') %>
                                </p>
                                </a>
                            </div>
                        <% } %>
                    </div>
                    </div>
                    
            </div>
            <button class="more btn">Показать еще</button>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>