<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1 class="text-center">Панель администратора</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-2 col-md-5 mx-auto nav-panel pt-2">
                    <button class="btn btn-primary"><a href="/news/new">Добавить пост</a></button>
                </div>
                <div class="col-12 col-lg-2 col-md-5 mx-auto nav-panel pt-2">
                    <button class="btn btn-primary"><a href="/match/new">Добавить матч</a></button>
                </div>
                <div class="col-12 col-lg-2 col-md-5 mx-auto nav-panel pt-2">
                    <button class="btn btn-primary"><a href="/player/new">Добавить игрока</a></button>
                </div>
                <div class="col-12 col-lg-2 col-md-5 mx-auto nav-panel pt-2">
                    <button class="btn btn-primary"><a href="/persona/new">Добавить сотрудника</a></button>
                </div>
                <div class="col-12 col-lg-2 col-md-5 mx-auto nav-panel pt-2">
                    <button class="btn btn-primary"><a href="/album/new">Добавить альбом</a></button>
                </div>
                <hr>
                <div class="col-12 col-lg-3 col-md-5 mx-auto nav-panel pt-2">
                    <button class="btn btn-primary"><a href="/matches/edit">Редактировать матчи</a></button>
                </div>
                <div class="col-12 col-lg-3 col-md-5 mx-auto nav-panel pt-2">
                    <button class="btn btn-primary"><a href="/stats/edit">Редактировать статистику</a></button>
                </div>
            </div>
        </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html