<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1 class="text-center">Руководство ФК Олимп-Долгопрудный</h1>
        <hr>
        <div class="container-fluid best-bg pt-1">
            <div class="row matches">
                <% if(personal.length > 0) { %>
                    <h4 class="text-center white">Руководство</h4>
                    <% for (var i = 0;i < personal.length; i++) { %>      
                        <div class="post-preview matches-block col-10 col-md-5 col-xl-3 players">
                            <div class="fst-part-player">
                                <img class="img-player" src="<%= personal[i].image %>">
                            </div>
                            <div class="tst-part players-info">
                                <h6><%= personal[i].name%></h6>
                                <h6><%= personal[i].role%></h6>
                                <h6><%= personal[i].date%></h6>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                <% if(personal2.length > 0) {%>
                    <h4 class="text-center white">Тренерский штаб</h4>
                    <% for (var i = 0;i < personal2.length; i++) { %>      
                        <div class="post-preview matches-block col-10 col-md-5 col-xl-3 players">
                            <div class="fst-part-player">
                                <img class="img-player" src="<%= personal2[i].image %>">
                            </div>
                            <div class="tst-part players-info">
                                <h6><%= personal2[i].name%></h6>
                                <h6><%= personal2[i].role%></h6>
                                <h6><%= personal2[i].date%></h6>
                            </div>
                        </div>
                    <% } %>   
                <% } %>  
            </div>
        </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html