<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1>Редактирование игрока</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="/player/updatestore/<%=player_id%>" method="POST" enctype="multipart/form-data">
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Имя</label>
                                <textarea row="0" type="text" class="form-control"
                                id="name" name="name"><%=player.name%></textarea>
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Номер</label>
                                <textarea row="0" type="text" class="form-control"
                                id="number" name="number"><%=player.number%></textarea>
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Роль</label>
                                <textarea row="0" type="text" class="form-control"
                                id="role" name="role"><%=player.role%></textarea>
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Дата рождения</label>
                                <textarea row="0" type="text" class="form-control"
                                id="date" name="date"><%=player.date%></textarea>
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Гражданство</label>
                                <textarea row="0" type="text" class="form-control"
                                id="citizenship" name="citizenship"><%=player.citizenship%></textarea>
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Рост</label>
                                <textarea row="0" type="text" class="form-control"
                                id="height" name="height"><%=player.height%></textarea>
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>вес</label>
                                <textarea row="0" type="text" class="form-control"
                                id="weight" name="weight"><%=player.weight%></textarea>
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Количество игр</label>
                                <input type="text" class="form-control"
                                id="games" name="games">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Время на поле</label>
                                <input type="text" class="form-control"
                                id="time" name="time">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Был заменён</label>
                                <input type="text" class="form-control"
                                id="wasreplaced" name="wasreplaced">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Вышел на замену</label>
                                <input type="text" class="form-control"
                                id="replaced" name="replaced">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Голевая передача</label>
                                <input type="text" class="form-control"
                                id="goalassist" name="goalassist">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Голы</label>
                                <input type="text" class="form-control"
                                id="goals" name="goals">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Желтая карточка</label>
                                <input type="text" class="form-control"
                                id="yellowcard" name="yellowcard">
                            </div>
                        </div>
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Красная карточка</label>
                                <input type="text" class="form-control"
                                id="redcard" name="redcard">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Изображение</label>
                                <input type="file" class="form-control"
                                id="image" name="image">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                id="sendMessageButton">Именить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html