<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body class="best-bg">
        <%- include('layouts/navbar'); -%>
        <h1 class="text-center white pt-5">Статистика текущего сезона ФК «Олимп-Долгопрудный»</h1>
        <div class="container">
            <table class="stats best-bg">
                <tr>
                    <th class="text-center">Игрок</th>
                    <th class="text-center">№</th>
                    <th class="text-center">Гр-во</th>
                    <th class="text-center">Роль</th>
                    <th class="text-center">Дата рождения</th>
                    <th class="text-center">Рост</th>
                    <th class="text-center">Вес</th>
                    <th class="text-center">К-во игр</th>
                    <th class="text-center">Время на поле</th>
                    <th class="text-center">Был заменён</th>
                    <th class="text-center">Вышел на замену</th>
                    <th class="text-center">Голевая передача</th>
                    <th class="text-center">Голы</th>
                    <th class="yellowcard text-center">П</th>
                    <th class="redcard text-center">К</th>
                </tr>
                <% for(var i = 0; i < players.length; i++) {%>
                <tr>
                    <td><%=players[i].name%></td>
                    <td class="text-center"><%=players[i].number%></td>
                    <%if (players[i].citizenship == 'Российская Федерация') {%>
                        <td class="text-center"><span class="flag-icon flag-icon-ru"></span></td>
                     <% } %>
                     <%if (players[i].citizenship == 'Казахстан') {%>
                        <td class="text-center"><span class="flag-icon flag-icon-kz"></span></td>
                     <% } %>
                     <%if (players[i].citizenship == 'Нигерия') {%>
                        <td class="text-center"><span class="flag-icon flag-icon-ng"></span></td>
                     <% } %>
                    <td class="text-center"><%=players[i].role%></td>
                    <td class="text-center"><%=players[i].date%></td>
                    <td class="text-center"><%=players[i].height%></td>
                    <td class="text-center"><%=players[i].weight%></td>
                    <td class="text-center"><%=players[i].games%></td>
                    <td class="text-center"><%=players[i].time%></td>
                    <td class="text-center"><%=players[i].wasreplaced%></td>
                    <td class="text-center"><%=players[i].replaced%></td>
                    <td class="text-center"><%=players[i].goalassist%></td>
                    <td class="text-center"><%=players[i].goals%></td>
                    <td class="text-center"><%=players[i].yellowcard%></td>
                    <td class="text-center"><%=players[i].redcard%></td>
                </tr>
                <% } %>
            </table>
            <% if(loggedIn) {%>
                <a href="/stats/edit" style="color: white" class="nicesize">Редактировать</a>
                <% } %>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html>