<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1 class="text-center">Состав ФК Олимп-Долгопрудный</h1>
        <hr>
        <div class="container-fluid best-bg pt-1">
            <div class="row matches">
                <h4 class="text-center player-role white">Вратари</h4>
                <% for (var i = 0;i < goalkeepers.length; i++) { %>
                    
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3 players">
                        <div class="fst-part-player">
                            <img class="img-player" src="<%= goalkeepers[i].image %>">
                        </div>
                        <div class="tst-part players-info">
                            <h6><%= goalkeepers[i].name%></h6>
                            <h6>Номер: <%= goalkeepers[i].number%></h6>
                            <h6><%= goalkeepers[i].role%></h6>
                            <h6><%= goalkeepers[i].date%></h6>
                            <%if (goalkeepers[i].citizenship == 'Российская Федерация') {%>
                                <h6><span class="flag-icon flag-icon-ru"></span></h6>
                             <% } %>
                             <%if (goalkeepers[i].citizenship == 'Казахстан') {%>
                                <h6><span class="flag-icon flag-icon-kz"></span></h6>
                             <% } %>
                             <%if (goalkeepers[i].citizenship == 'Нигерия') {%>
                                <h6><span class="flag-icon flag-icon-ng"></span></h6>
                             <% } %>
                            <h6>Рост: <%= goalkeepers[i].height%></h6>
                            <h6>Вес: <%= goalkeepers[i].weight%></h6>
                            <% if(loggedIn) {%>
                                <a href="/player/<%=goalkeepers[i]._id%>" style="color: black">Редактировать</a>
                            <% } %>
                        </div>
                        
                    </div>
                <% } %>
                <h4 class="text-center player-role white">Защитники</h4>
                <% for (var i = 0;i < quarterbacks.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3 players">
                        <div class="fst-part-player">
                            <img class="img-player" src="<%= quarterbacks[i].image %>">
                        </div>
                        <div class="tst-part players-info">
                            <h6><%= quarterbacks[i].name%></h6>
                            <h6>Номер: <%= quarterbacks[i].number%></h6>
                            <h6><%= quarterbacks[i].role%></h6>
                            <h6><%= quarterbacks[i].date%></h6>
                            <%if (quarterbacks[i].citizenship == 'Российская Федерация') {%>
                                <h6><span class="flag-icon flag-icon-ru"></span></h6>
                             <% } %>
                             <%if (quarterbacks[i].citizenship == 'Казахстан') {%>
                                <h6><span class="flag-icon flag-icon-kz"></span></h6>
                             <% } %>
                             <%if (quarterbacks[i].citizenship == 'Нигерия') {%>
                                <h6><span class="flag-icon flag-icon-ng"></span></h6>
                             <% } %>
                            <h6>Рост: <%= quarterbacks[i].height%></h6>
                            <h6>Вес: <%= quarterbacks[i].weight%></h6>
                            <% if(loggedIn) {%>
                                <a href="/player/<%=quarterbacks[i]._id%>" style="color: black">Редактировать</a>
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <h4 class="text-center player-role white">Полузащитники</h4>
                <% for (var i = 0;i < midfielders.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3 players">
                        <div class="fst-part-player">
                            <img class="img-player" src="<%= midfielders[i].image %>">
                        </div>
                        <div class="tst-part players-info">
                            <h6><%= midfielders[i].name%></h6>
                            <h6>Номер: <%= midfielders[i].number%></h6>
                            <h6><%= midfielders[i].role%></h6>
                            <h6><%= midfielders[i].date%></h6>
                            <%if (midfielders[i].citizenship == 'Российская Федерация') {%>
                                <h6><span class="flag-icon flag-icon-ru"></span></h6>
                             <% } %>
                             <%if (midfielders[i].citizenship == 'Казахстан') {%>
                                <h6><span class="flag-icon flag-icon-kz"></span></h6>
                             <% } %>
                             <%if (midfielders[i].citizenship == 'Нигерия') {%>
                                <h6><span class="flag-icon flag-icon-ng"></span></h6>
                             <% } %>
                            <h6>Рост: <%= midfielders[i].height%></h6>
                            <h6>Вес: <%= midfielders[i].weight%></h6>
                            <% if(loggedIn) {%>
                                <a href="/player/<%=midfielders[i]._id%>" style="color: black">Редактировать</a>
                            <% } %>
                        </div>
                    </div>
                <% } %>
                <h4 class="text-center player-role white">Нападающие</h4>
                <% for (var i = 0;i < attackers.length; i++) { %>
                    <div class="post-preview matches-block col-10 col-md-5 col-xl-3 players">
                        <div class="fst-part-player">
                            <img class="img-player" src="<%= attackers[i].image %>">
                        </div>
                        <div class="tst-part players-info">
                            <h6><%= attackers[i].name%></h6>
                            <h6>Номер: <%= attackers[i].number%></h6>
                            <h6><%= attackers[i].role%></h6>
                            <h6><%= attackers[i].date%></h6>
                            <%if (attackers[i].citizenship == 'Российская Федерация') {%>
                                <h6><span class="flag-icon flag-icon-ru"></span></h6>
                             <% } %>
                             <%if (attackers[i].citizenship == 'Казахстан') {%>
                                <h6><span class="flag-icon flag-icon-kz"></span></h6>
                             <% } %>
                             <%if (attackers[i].citizenship == 'Нигерия') {%>
                                <h6><span class="flag-icon flag-icon-ng"></span></h6>
                             <% } %>
                            <h6>Рост: <%= attackers[i].height%></h6>
                            <h6>Вес: <%= attackers[i].weight%></h6>
                            <% if(loggedIn) {%>
                                <a href="/player/<%=attackers[i]._id%>" style="color: black">Редактировать</a>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html