<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1 class="text-center">Игрок</h1>
        <hr>
        <div class="container-fluid best-bg pt-1">
            <% if(loggedIn) {%>
                <a href="/player/edit/<%=player_id%>">Редактировать</a><br>
                <a href="/player/delete/<%=player_id%>">Удалить</a>
                <% } %>
            <div class="row matches">
                <div class="post-preview matches-block col-10 col-md-5 col-xl-3 players">
                    <div class="fst-part-player">
                        <img class="img-player" src="<%= player.image %>">
                    </div>
                    <div class="tst-part players-info">
                        <h6><%= player.name%></h6>
                        <h6>Номер: <%= player.number%></h6>
                        <h6><%= player.role%></h6>
                        <h6><%= player.date%></h6>
                        <h6><%= player.citizenship%></h6>
                        <h6>Рост: <%= player.height%></h6>
                        <h6>Вес: <%= player.weight%></h6>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html