<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1>Редактирование поста</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <form action="/posts/updatestore/<%=post_id%>" method="POST" enctype="multipart/form-data">
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Название поста</label>
                                <textarea row="0" type="text" class="form-control"
                                id="title" name="title"><%=post.title%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Текст поста</label>
                                <textarea rows="5" class="form-control" placeholder="<%=post.body%>"
                                id="body" name="body"><%=post.body%></textarea>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Изображение</label>
                                <input type="file" class="form-control"
                                id="image" name="image">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                id="sendMessageButton">Именить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html