<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <meta name="keywords" content="<#=blogpost.keywords%>">
        <div class="container-fluid post white best-bg">
            <% if(loggedIn) {%>
            <a href="/post/edit/<%=post_id%>">Редактировать</a><br>
            <a href="/post/delete/<%=post_id%>">Удалить</a>
            <% } %>
            <div class="row">
                <div class="col-10 col-lg-8 col-md-10 mx-auto">
                    <span class="meta">
                        <%= moment.unix(blogpost.datePosted / 1000).format('LL') %>
                    </span>
                            <h2><%= blogpost.title %></h2>
                        <h4 class="subheading">
                            <%- blogpost.body %>
                        </h4>
                        <div class="img-in-news">
                        <img class="img-in-post" src="<%= blogpost.image %>">
                        </div>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html