<!DOCTYPE html>
<html lang="ru">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        
        <!--MAIN PART ADMIN-->
        <h1>Создание нового аккаунта</h1>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <% if(errors != null && errors.length > 0){ %>
                        <ul class="list-group">
                            <% for(var i = 0; i < errors.length; i++) { %>
                                <li class="list-group-item list-group-item-danger">
                                    <%= errors[i] %>
                                </li>
                                <% } %>
                        </ul>
                        <% } %>
                    <form action="/users/register" method="POST" enctype="multipart/form-data">
                        <div class="control-group"> 
                            <div class="form-group floating-label-form-group controls">
                                <label>Логин</label>
                                <input type="text" class="form-control" placeholder="ivanov"
                                id="username" name="username" value="<%= username %>">
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls">
                                <label>Пароль</label>
                                <input type="password" class="form-control" placeholder="*********"
                                id="password" name="password" value="<%= password %>">
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary"
                                id="sendMessageButton">Регистрация</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include('layouts/footer'); -%>
        <%- include('layouts/scripts'); -%>
    </body>
</html