@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    font-family: 'Comfortaa', cursive;
}

body {
    background-color: colar;
    font-family: 'Russo One', sans-serif;
}
strong{
    font-weight: bolder;
}
.frame-table{
    height: 700px;
}
.fnl-banner{
    position: relative;
    background: url('../img/fnl-banner.jpg') no-repeat center/100%;
    height: 140px;
    width: auto;
    display: flex;
}
.bold-a{
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    float: right;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: underline;
    color: white;
}
/*navbar*/
.logo{
    width: 40px;
}
.text-about-block{
    text-align: center;
    font-family: 'Russo One', sans-serif;
    font-size: 3.5em;
    color: white;
    padding-top: 1.2em;
    padding-bottom: 1em;
}
.text-about-block-1{
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: white;
    font-size: 1.5em;
}
/*home-0*/
.tricolor{
    width: 100px;
    right: 20px;
}
.home-0{
    width: 100%;
    background: url('../img/home-edit-0-1.jpg') no-repeat center/100%;
    color: white;
    font-variant: small-caps;
    display: flex;
    align-items: center;
    height: 90vh;
}
.text-home-0-1{
    font-size: 4em;
    font-weight: 400;
    font-family: 'Russo One', sans-serif;
}
.text-home-0-2{
    font-size: 5em;
    font-weight: bolder;
    font-family: 'Russo One', sans-serif;
}
.best-bg{
    background: url('../img/home-1-1.jpg') center/100%;
    background-size: cover;
}
/*home-1*/
.news-table{
    margin-top: -25px;
    background: url('../img/home-1-1.jpg') center/100%;
    background-size: cover;
    display: flex;
    flex-direction: column;

}

.news-tables{
    display: flex;
    justify-content: center;
}

.tournament-table{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.news-block{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    margin-bottom: 2em;
}
.news{
    position: relative;
    border-left: 2px solid rgb(255, 255, 255);
    border-top: 2px solid white;

    color: black;
    padding: 2em;
    display: flex;
    justify-content: center;
}
.news a{
    color: black;
    text-align: center;
}
.inlink{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.img-in-news{
    display: flex;
    justify-content: center;
    object-fit: cover;
    padding-bottom: 1em;
}
.post-preview{
    padding-top: 0.5em;

}
.post-meta{
    float: right;
    margin-bottom: -1em;
    display: flex;
    align-items: flex-end;
    font-weight: bolder;
}
.button-full{
    display: flex;
    justify-content: center;
}
.button-full a{
    color: black;
}
.post-subtitle{
    padding-top: 1.1em;
}

/*Partners*/
.block-img-partners{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}
.img-partner{
    max-width: 100%;
    padding-top: 2em;
    max-height: 140px;
    object-fit:scale-down;
}
.partners{
    padding-bottom: 2em;
}
/*PAGE POST*/
.post{
    padding-top: 5em;
}
.subheading{
    padding-top: 2em;
    font-family: 'Comfortaa', cursive;
    font-weight: 300;
}
strong{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.img-in-post{
    max-width: 900px;
    max-height: 400px;
    object-fit: cover;
}

/*MATCHES*/
.first-part{
    display: flex;
    justify-content: space-between;
}

.matches-block{

    background: #FFFFFF;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    margin-left: 21px;
    margin-bottom: 21px;
    padding: 10px;
}
.matches{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
    margin-top: 2em;
}
.icon{
    width: 25px;
    padding-right: 0.5rem;
}

.fst-part{
    padding-top: 1rem;
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5rem;
}
.fst-part h5{
    padding-right: 1.3rem;
    text-decoration: none;
}
.text{
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    display: flex;
    align-items: center;
}

.tst-part{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
}

.team2{
    text-align: end;
}
.team{
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.location{
    color: black;
    font-style: normal;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    position: unset;
    bottom: 0;
}
.last-part{
    display: flex;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.prev-matches{
    background-color: rgba(80, 80, 80, 0.150);
}

.next-matches{
    background-color: rgba(0, 255, 42, 0.150);    
}

footer{
    padding-top: 2em;
    background: url('../img/footer.jpg') no-repeat center/100%;   
}

/*PLAYERS*/
.img-player{
    width: 200px;
}
.players{
    display: flex;
}
.players-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.player-role{
    padding-top: 1em;
    padding-bottom: 1em;
}

.white{
    color: white;
}
.black{
    color: black;
}
.full-calendar{
    margin-top: 1em;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.social{
    width: 42px;
    color: white;
    background-color: white;
    border: 5px solid white;
    border-radius: 10px;
}
.social-link{
    padding: 10px;
}
.downloadzip{
    display: flex;
    justify-content: right;
    font-size: 14px;
}
.social-networks{
    display: flex;
    justify-content: center;
}
.copyright{
    border-top: 1px solid white;
    font-size: 12px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    justify-content: center;
}
.copyright h6{
    font-size: 12px;
}
.developer{
    text-align: center;
    background: black;
    font-size: 13px;
    color: white;
}
.news-tables h2, .news-tables h5, .news-tables p, .news-tables a{
    color: white;
}
.album-for-photos{
    display: flex;
    justify-content: center;
}
.img-in-album{
    max-width: 100%;
    max-height: 90vh;
    text-align: center;
}
.media-block{
    padding-bottom: 10px;
    margin: 1em;
    background: white;
    border-radius: 10px;
    background-size: cover;
}
.img-in-media{
    width: 100%;
    object-fit: cover;
}
@media(max-width: 1030px){
    .fnl-banner{
        height: 80px;
    }
    .news{
        border: 1px solid black;
    }
    .tournament-table{
        padding-top: 5em;
    }
    .white{
        color: rgb(255, 255, 255);
    }
    .black{
        color: black;
    }


    .frame-table{
        border: 1px solid black;
        height: 700px;
        border-radius: 15px;
    }
}
@media(max-width: 450px) {
    .img-player{
        width: 150px;
    }
    .players-info h6{
        font-size: 10px;
    }
    .text-home-0-1{
        font-size: 1em;
    }
    .text-home-0-2{
        font-size: 1.5em;
    }
    .home-0{
        height: 30vh;
    }
    h2{
        font-size: 1.5em;
        font-weight: bolder;
    }
    h5{
        font-size: 1em;;
    }
    .frame-table{
        width: 350px;
    }
    .news{
        border-right: none;
        border-top: 3px solid rgba(0, 0, 207, 0.678);
    }
    .fnl-banner{
        height: 30px;
    }
    .text-about-block{
        font-size: 1.3em;
    }
    .team{
        font-size: 0.7em;
    }
    .bold-a{
        font-size: 1em;
    }
    .tournament-mini{
        margin-top: 3em;
    }
    .img-in-post{
        height: 190px;
        object-fit: cover;
        margin-bottom: 1em;
        max-width: 250px;
    }
}   
.img-index-block{
    display: flex;
    justify-content: center;
}
.img-in-index{
    height: 250px;
    object-fit: cover;
    margin-bottom: 1em;
    max-width: 300px;
}
.first-test{
    display: flex;
    margin: 0 auto;
}
.yellowcard{
   height: 3px;
   width: 3px; 
   background-color: yellow;
   padding: 10px;
}
.redcard{
    padding: 10px;
    height: 3px;
    width: 3px;
    background-color: red;
}

tr{
    border: 1px solid black;
}
th, td{
    padding: 5px;
    font-size: 0.9em;
    border: 1px solid black;
    color: white;
    border-color: white;
    font-weight: bolder;
}
.editstat{
    display: flex;
    justify-content: center;
}
.nicesize{
    font-size: 2em;
    font-weight: bolder;
}
.textarealowrange {
    resize: none;
    max-width: 150px;
    max-height: 50px;
}
.post-title{
    font-weight: bolder;
}

.wrapper-boxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
.hidden:nth-child(n+4) {
    display: none;
  }

.more{
    width: 200px;
    font-weight: bolder;
    border: 3px solid white;
    border-radius: 15px;
    margin-bottom: 2em;
    color: white;
}
.nav-panel{
    padding-bottom: 2em;
}
.puma{
    height: 115px;
}